
.staffSection {
    padding: 5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    margin: 3%;
    margin-left: 20%;


}
.staffCard {
    border: 1px solid lightgrey;
    border-radius: 5%;
background: linear-gradient(172deg, rgb(113, 143, 175) 3.17%, rgb(69, 92, 114) 100.00%);
    width: 25vw;
    height: 90vwh;
    margin: 2%;
    padding: 2%;
    box-shadow: 5px 5px 5px grey;
    display:flex;
    flex-direction: column;
    align-items: center;
 

}

.staffCard img {
       box-shadow: 5px 5px 5px black;
       width: 300px;
       height: 300px;
       border: 2px solid grey;
       border-radius: 5%;
      
}

.staffCard h4 {
  color:white;
}



.cardTop, .cardBottom {
  display:flex;
  height: 80vh;
}

@media screen and (max-width: 652px){ 

  .staffSection {
    padding: 2%;
    margin-top: 5%;
    margin-left: 5%;
    height: 250vh;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
  }

  .staffCard {
    width: 70vw;
    height:50%;
  }

  .staffCard p{
    font-size: 12px;
  }

  .staffCard img {
    width: 25vw;
    height:50%;
  }

  .cardTop, .cardBottom{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;

  }



}