.logo {
  font-family: 'Cinzel Decorative', cursive;
    color: white;
    font-size: 24px;
}
.pixLogo {
    display:flex;
    flex-direction: column;

}

.navbar {
    /* background-color:#6fadc7; */
    background: linear-gradient(132deg, rgb(0, 48, 143) 0.00%, rgb(0, 255, 255) 100.00%);
}

.navbar-header{
    width: 21vw;
    height: 10vh;
}
.container-fluid {
    padding-top:1%;
    display:flex;
}

.navbar-inverse{
    width: 100vw;
    height: 15vh;
    box-shadow: 5px 5px 5px grey;
    margin: 0 auto;
    border-radius: 0;
    padding: 3%;
    
}

a {
 margin: -7%;
}

.icons {
    padding: 1%;
    /* margin-top:2%; */
    width: 50vw;
    display:flex;
    justify-content: space-evenly;
}
.icons-search{
    width: 70vw;
    padding-top: 1%;
    display:flex;
    justify-content: space-between;
    
}

.icons-search ul li a{
    color:black;
    font-family: 'Cinzel Decorative', cursive;
      font-weight: bold;
}

.iconLabels {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 90px;
    justify-content: space-between;
}

.iconLabels a {
    color:gray;
}

a:hover, a:focus{
    color:blue;
    text-decoration: none;
}

.logo:hover, .logo:focus {
    color:black;
}



li img {
    box-shadow: 5px 5px 5px lightgrey;
    border-radius: 50%;
}

@media screen and (max-width: 652px){
    /* //858 */
    .pixLogo {
        width: 95vw;

    }

    .logo {
        font-size: 22px;
        text-align: center;
        padding-top:1%;
    }

    .icons img {
        display:none;
    }

    .iconLabels {
        height: 3vh;
        padding-bottom: 5%;

    }

    .icons {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        height: 30vh;
        width: 25vw;
        background-color: lightgrey;
        margin:0;
    }

    .container-fluid{
        display:flex;
        flex-direction: column;
    }

    .input-group {
        display:none;
    }

    .navbar-form {
        border: none;
        box-shadow: none;
    }
}



