.pageBody {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.testBody {
    background-image: url("joel-cross.png") ;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
    width: 100vw;
}


.swirl img{
    height: 40vh;
    width: 100vw;
    margin-top: -8%;
}


.testVerse {
    margin-top:-130%;
    margin-left: 75%;
    width: 30vw;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.testVerse p {
 font-family: 'Charm', cursive;
       font-size: 36px;
       font-weight:400;
       color: black;
}

.testVerse .awake {
    color: teal;
    font-family: 'Cinzel Decorative', cursive;
}

@media screen and (max-width: 652px){
    .swirl {
        margin-top: -65%;
    }

    .testVerse {
        display:none;
    }

   
}